{% extends "statler-base-page.html" %}

{% block main-content %}
    <div class="container">
      <div class="about-page-text">
        <h1>About <i>Ten! Ten! Ten!</i></h1>
        <p>
          <i>Ten! Ten! Ten!</i> is the final directing project for THEA 370: Directing of the Stage. <i>Ten! Ten! Ten!</i> has been a theatre tradition at George Fox University for the past 15 years. For more information about GFU Theatre go to <a href="http://theatre.georgefox.edu">theatre.georgefox.edu</a>.
        </p>
        <h1>About the CABAM Team</h1>
        <p>
          tententenreviews.com is the product of a semester-long project for GFU's Software Engineering class. Our task was to create a system that would rank products like movies or plays based on a sentiment analysis of user reviews, instead of a numbered ranking system like "stars." We thought it would be a great learning experience (and a fun challenge!) for us to make the system a real product used by real people, so we contacted the Theater Department to see if they would like to be our client. For some reason, they did, and we're thrilled to present to you a site specially designed for <i>Ten! Ten! Ten!</i> reviews.
        </p>
      </div>
    </div>
{% endblock %}
