{% extends "statler-base-page.html" %}

{% block page-script %}
    <script>

      // This script makes an API call and displays the returned data

      // jQuery code normally starts with the .ready function
      $(document).ready(function(){
        fillInList("/api/play-list/wednesday-chronological/", "#play-list-wednesday");
        fillInList("/api/play-list/thursday-chronological/", "#play-list-thursday");
      });

      function fillInList(getURL, divId) {
        // Get JSON from a URL as an object
        $.getJSON(getURL, function(result){
          // remove the loading gif
          $(divId).empty();

          // display the returned json dynamically
          $.each(result, function(i, playEntry){
            var play = playEntry.play;
            var index = playEntry.index;

            // TODO: order plays in some way?

            $(divId).append(
              $('<div class="landing-page-play-entry" />').append(
                $('<a />', {href: '/play/' + play.url_title}).append(
                  $('<img />', {width: '120', height: '120', src: '/' + play.image_url})
                )
              ).append(
                $('<p />').append(
                  $('<a />', {href: '/play/' + play.url_title}).append(
                    play.title
                  )
                )
              )
            );

          });
        });
      }

    </script>
{% endblock %}

{% block main-content %}
    <div class="container">
      <p class="landing-page-text">Click a play to review it . . .</p>
      <div class="landing-page-list-box">
        <p class="landing-page-text">Wednesday Night:</p>
        <div class="landing-page-list" id="play-list-wednesday">
          <img src="/static/loading.gif" />
        </div>
        <p class="landing-page-text">Thursday Night:</p>
        <div class="landing-page-list" id="play-list-thursday">
          <img src="/static/loading.gif" />
        </div>
      </div>
      <div style="text-align:center">
        <span class="landing-page-button">
          <a href="/play-list/all/">View Play Rankings</a>
        </span>
      </div>
    </div>
{% endblock %}
