<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles.css"/>

    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

    <script>

      // This script makes an API call and displays the returned data

      // This string will be filled out by Django when the page is served.
      // It contains the URL to make an API call to
      var apiEndpointUrl = "{% url 'api:play-list' play_list_id %}";

      // jQuery code normally starts with the .ready function
      $(document).ready(function(){
        // Get JSON from a URL as an object
        $.getJSON(apiEndpointUrl, function(result){
          // display the returned json dynamically
          $.each(result, function(i, playEntry){
            var play = playEntry.play;

            //TODO: display plays in order by playEntry.index

            // this indentation helps because it looks a bit like html
            $('#play-list').append(
              //the whole list item is a link to the play description page
              $('<a/>', {href: 'play/'+play.url_title}).append(
                $('<li/>').append(
                  $('<h1/>').append(play.title),
                  $('<p/>').append(play.description),
                  $('<p/>').append(
                    'Directed by: ', play.director,
                    // &#x2022 is a bullet, which makes a nice separator
                    ' &#x2022; Actors: ', play.actors,
                    ' &#x2022; Showtimes: ', play.show_times
                  )
                )
              )
            );

          });
        });
      });

    </script>
  </head>
  <body>
    
    <div class="page-container">
      <div class="header">
        <img class="centered-image" src="/static/header-image.png"/>
        <img class="logo-overlay" src="/static/gfu-logo.png"/>
        <h1>Ten! Ten! Ten!</h1>
      </div>
      <ol id="play-list" type="1">
      </ol>
    </div>

  </body>
</html>