<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>

      // This script makes an API call and displays the returned data

      // This string will be filled out by Django when the page is served.
      // It contains the URL to make an API call to
      var apiEndpointUrl = '{% url 'api:play-detail' play_id %}';

      // jQuery code normally starts with the .ready function
      $(document).ready(function(){
        // Get JSON from a URL as an object
        $.getJSON(apiEndpointUrl, function(result){
          // display the returned json
          $('p').append(JSON.stringify(result));
        });
      });

    </script>
  </head>
  <body>

    <p></p>

  </body>
</html>