<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--bootstrap old and new support broswers-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <!-- jQuery library -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" type="text/css" href="/static/styles.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script>

      // This script makes an API call and displays the returned data

      // This string will be filled out by Django when the page is served.
      // It contains the URL to make an API call to
      var apiEndpointUrl = '{% url 'api:play-detail' play_id %}';

      // jQuery code normally starts with the .ready function
      $(document).ready(function(){
        // Get JSON from a URL as an object
        $.getJSON(apiEndpointUrl, function(result){
          // display the returned json dynamically

          // fill in page title
          $(".header > h1").append(result.title);
          // fill in description
          $('#description').append(
            $("<p/>").append(result.description),
            $("<p/>").append("Directed by: ", result.director)
          );
          // fill in reviews
          $.each(result.reviews, function(index, review) {
            $("#review-list").append(
              $("<li/>").append(review.text)
            );
          });

        });
      });

    </script>
  </head>
  <body>
    
    <div class="page-container">
      <div class="header">
        <img class="centered-image" src="/static/header-image.png">
        <img class="logo-overlay" src="/static/gfu-logo.png"/>
        <h1></h1>
      </div>
      <div id="description"></div>
      <div style="height: 200px; border-style: solid;">
        Review post box will go here.
      </div>
      <ul id="review-list">
      </ul>
    </div>

  </body>
</html>
