# .gitignore

# Compiled Python files
*.pyc

# Compiled Python directories
**/__pycache__/

# PyCharm Files
.idea/

# Visual Studio build artifacts (not ignoring .sln, .pyproj)
bin/
.vs/
obj/

# Viusal Studio Deployment user settings (not ignoring plain .pubxml deployment settings)
*.pubxml.user

# Python virtual environent (Must be regenerated on each machine from requirements.txt)
env/**