# .gitignore

# Compiled Python files
*.pyc

# Compiled Python directories
**/__pycache__/

# Settigs overrides (intended for non-public deployment settings).
# Note that statler/settings_overrides.py.default IS tracked. don't put secret things there.
statler/settings_overrides.py

# Python virtual environent (Must be regenerated on each machine from requirements.txt)
env/**

# sqlite databases
*.sqlite3

# Visual Studio build artifacts (not ignoring .sln, .pyproj)
bin/
.vs/
obj/

# Viusal Studio Deployment user settings (not ignoring plain .pubxml deployment settings)
*.pubxml.user

# PyCharm Files
.idea/
