<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style type="text/css">
      body {
        font-family: Sans-Serif;
      }
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th, td {
        border: 1px solid black;
      }
      th {
        background-color: LightGray;
      }
    </style>
  </head>
  <body>

    {% comment %} TODO: make this description better. Explain that machine ratings may be innacurate {% endcomment %}
    <p>
      The computer-generated rating is based on the text of the reviews. It is in the range -100 to 100.
      Positive numbers represent a detected positive sentiment, and negative numbers represent a negative sentiment.
      The number itself represents the rating system's certainty. For example, a rating of 90 means the system
      is 90% sure the review is positive. The play's computer-generated rating is the average of all the reviews' ratings.
      Reviews with a yellow background were chosen by our team to be displayed on the website, due
      to their high quality.
    </p>

    <h1>{{ play.title }}</h1>
    <p>Director: {{ play.director }}</p>
    <p>Actors: {{ play.actors }}</p>
    <p>Show time: {{ play.show_times }}</p>
    <p>Description: {{ play.description }}</p>
    <p>Computer-generated rating: {{ play.rating }}</p>

    <p>Reviews:</p>

    <table>
      <tr>
        <th>Review Text</th>
        <th>Computer-generated rating</th>
      </tr>
      
      {% for review in reviews %}

        <tr {% if review.top_review_rank != None %} style="background-color: #fd5;" {% endif %} >
          {% comment %} Review text is already escaped, don't escape it again {% endcomment %}
          <td>{% autoescape off %}{{ review.text }}{% endautoescape %}</td>
          <td>{{ review.rating }}</td>
        </tr>

      {% endfor %}
    </table>

  </body>
</html>